
<header>
	<nav class="navbar navbar-expand-sm navbar-light py-1 fixed-top", style="background-color: #F8CA8C;" >
		<div class="container-fluid p-0", style="background-color: #F8CA8C;">
			<a class="navbar-brand text-white ps-2" href="/"><img src="/assets/images/logo.jfif" style="width: 3rem; height:3rem; border-radius:50%;"></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span><i class="fas fa-bars text-white"></i></span>
			</button>
			<div class="collapse navbar-collapse ps-2" id="navbarSupportedContent" style="z-index: 100; background-color: #F8CA8C;", >
				<ul class="navbar-nav ms-auto me-3" >
					<li class="nav-item"><a class="nav-link" href="/home/mission">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/home/about-us">About us</a></li>
					<% if(currentUser) { %>
						<li class="user-icon"><%= currentUser.firstName[0] %></li>
					<% } else { %>
						<li class="nav-item"><a class="nav-link" href="/auth/login">Login</a></li>
						<li class="nav-item"><a class="nav-link" href="/auth/signup">Signup</a></li>
					<% } %>
				</ul>
			</div>
		</div>
	</nav>
</header>