<!-- <div id="carousel" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-indicators">
		<button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
		<button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
		<button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
	</div>
	<div class="carousel-inner" style="padding: 3rem;">
		<div class="carousel-item active">
			<img src="/assets/images/slide2.jpg" class="d-block w-100" alt="...">
		</div>
		<div class="carousel-item">
			<img src="/assets/images/slide3.jpg" class="d-block w-100" alt="...">
		</div>
		<div class="carousel-item">
			<img src="/assets/images/slider3.jpg" class="d-block w-100" alt="...">
		</div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carousel"
		data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carousel"
		data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div> -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-indicators">
		<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
			aria-current="true" aria-label="Slide 1"></button>
		<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
			aria-label="Slide 2"></button>
		<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
			aria-label="Slide 3"></button>
	</div>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="/assets/images/slide1.jpg" class="d-block w-100" alt="...">
			<div class="carousel-caption">
				<h5>Dog <span>Food</span> Donation</h5>
				<p>Nourish dogs in need with your kindness. Donate dog food today.</p>
			</div>
		</div>
		<div class="carousel-item">
			<img src="/assets/images/slide2.jpg" class="d-block w-100" alt="...">
			<div class="carousel-caption">
				<h5>Dog <span>Food</span> Donation</h5>
				<p>Feed a DOG for three days and he will remember your kindness for three years</p>

			</div>
		</div>
		<div class="carousel-item">
			<img src="/assets/images/slide3.jpg" class="d-block w-100" alt="...">
			<div class="carousel-caption">
				<h5> Dog <span>Food</span> Donation</h5>
				<p>All they want is food, care and some love. Feed a stray dog, today! </p>
			</div>
		</div>
	</div>
</div>
<div class="jumbotron jumbotron-fluid text-center px-5">
	<p class="text-center px-5 my-5">
		Donating dog food to those in need is an act of compassion that can make a world of difference for our furry friends. Just like humans, dogs rely on good nutrition for their health and well-being. In today's fast-paced world, where technology often takes center stage, this initiative aims to transform our approach to animal welfare by enabling people to contribute dog food and make a positive impact on the lives of dogs in need.
		It's important to remember that any one of us may find ourselves in a situation where we need assistance, and our canine companions are no exception. This initiative not only provides essential sustenance for dogs but also raises awareness about the importance of pet welfare. Your small act of donating dog food can go a long way in ensuring that dogs receive the care and nutrition they deserve, ultimately saving and improving their lives.
	</p>
</div>
<br><br>
<div class="container-fluid padding">
	<div class="row welcome text-center">
		<div class="col-12">
			<p class="lead">
				"He who feeds a hungry animal feeds his own soul."
				<br />—CHARLIE CHAMLIN
			</p>
		</div>
	</div>
</div>
<!-- news feed section starts -->
<section id="about" class="about section-padding">
	<div class="container">
		<div class="row text-center">
			<div class="col-12">
				<h5 class="display-4">Dog Food Donation</h5>
			</div>
			<hr />
		</div>
		<div class="row">
			<div class="col-lg-5 col-md-12 col-12 ps-lg-6 mt-md-5">
				<div class="about-img">
					<img src="/assets/images/b1.jpg" alt="" class="img-fluid mb-3">
					<img src="/assets/images/b1.1.jpg" alt="" class="img-fluid mt-3">
				</div>
			</div>
			<div class="col-lg-7 col-md-12 col-12 ps-lg-5 mt-md-5">
				<div class="news-text">
					<p class="text-start">
						Every day, countless dogs rely on the generosity of people who donate dog food to make their lives better. Just as with humans, the right nutrition is vital for the health and well-being of our canine companions. This initiative aims to shed light on the importance of dog food donations, as they can be a lifeline for countless dogs in need.<br/>
						In many parts of the world, millions of dogs require sustenance to lead healthy lives. Donating dog food not only helps the recipients but is also a source of satisfaction for donors. It is essential that dog food donations are made to reputable animal shelters, rescue organizations, or pet food banks, ensuring that the food reaches those who need it under the supervision of experts in animal welfare.<br/>
						By contributing dog food, you can play a significant role in improving the lives of dogs facing hunger or abandonment. Your donation can help dogs suffering from malnutrition, neglect, or homelessness, ensuring that they have access to the nourishment they deserve.
						Remember that your act of kindness in donating dog food can make a substantial difference in the lives of our loyal companions. Additionally, it's possible to store dog food for future use, but it should always be done in coordination with reputable animal organizations to ensure its safe distribution.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- news feed section Ends -->
<br><br>
<div class="container-fluid padding mt-n5">
	<div class="row text-center">
		<div class="col-12">
			<h1 class="display-4">Our campaign</h1>
		</div>
		<hr />
	</div>
</div>
<br><br>
<!--Campaign in Cards-->
<div class="container padding">
	<div class="row padding">
		<div class="col-md-4">
			<div class="card px-5">
				<img class="card-img-top img-fluid" src="/assets/images/camp1.jpg" />
				<div class="img-overlay">
					<h2 class="text-center">Stray Dog Feeding </h2>
					<p class="text-left">
						During Bhutan's lockdowns, the army and dessups collaborate to care for stray dogs, despite limited resources. Public awareness campaigns reinforce the nation's commitment to compassion for all living beings.
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card px-5">
				<img class="card-img-top img-fluid" src="/assets/images/camp2.1.jpg" />
				<div class="img-overlay">
					<h2 class="text-center">Nationwide stray-dog feeding</h2>
					<p class="text-left">
						RBA teams in Bhutan feed thousands of stray dogs during the lockdown, driven by His Majesty's concern and the need to prevent feral dog issues.					</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card px-5">
				<img class="card-img-top img-fluid" src="/assets/images/zeus1.jpg" />
				<div class="img-overlay">
					<h2 class="text-center">Zeus feeds 300+ dogs daily</h2>
					<p class="text-left">
						On National Day, 15 volunteers from the Zeus group in Thimphu will feed 3,000+ dogs to honor the Wangchuck dynasty. They've been feeding strays for 192 days, also rescuing, sterilizing, and treating dogs.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<br><br>

<!-- footer starts -->
<div class="footer-clean footer">
	<footer>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-sm-4 col-md-3 item">
					<h3>Location</h3>
					<ul>
						<li>Thimphu, Bhutan</li>
						<li>Kabjisa</li>
						<li>GCIT</li>
					</ul>
				</div>
				<div class="col-sm-4 col-md-3 item">
					<h3>Phone Number</h3>
					<ul>
						<li>+975 77954033</li>
						<li>+975 17853498</li>
						<li>+975 17984543</li>
					</ul>
				</div>
				<div class="col-sm-4 col-md-3 item">
					<h3>Email</h3>
					<ul>
						<li>12200085.gcit@rub.edu.bt</li>
						<li>12200088.gcit@rub.edu.bt</li>
						<li>12200091.gcit@rub.edu.bt</li>
						<li>12190087.gcit@rub.edu.bt</li>
						<li>12190103.gcit@rub.edu.bt</li>
					</ul>
				</div>
				<div class="col-lg-3 item social">
					<a href="https://www.facebook.com/profile.php?id=100011610033181&mibextid=ZbWKwL"><i class="fab fa-facebook"></i></a>
					<a href="https://twitter.com/home"><i	class="fab fa-twitter"></i></a>
					<a href="12190088.gcit@rub.edu.bt"><i class="fab fa-google-plus-g"></i></a>
					<a href="https://l.messenger.com/l.php?u=https%3A%2F%2Finstagram.com%2Fits_kelzang24%3Figshid%3DYmMyMTA2M2Y%253D&h=AT1GW1RPk8uiSxUPGBTmGqnwLA988oQECIZOrMMvfYatRG9PZR4D2eMtpUsN2B31Yi8ImVK3YCyMfCl7fvjo6Fz1Sm1JRgupkLusr7_509n_LYGAPnniN_5Xu-EpydmKvTD42w"><i class="fab fa-instagram"></i></a>
					<p class="copyright">Dog Food Donation System</p>
				</div>
			</div>
		</div>
	</footer>
</div>
<!-- footer ends -->
<!-- All Js -->
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/script.js"></script>